<h2>Start a New Game</h2>
<%= form_for :game, :url => { :action => 'new', :controller => 'game'} do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: "createName", :required => true %>
  </div>
    
  <%= f.submit "New Game", class: "btn btn-primary" %>
<% end %>
