<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the KeyBoard Ninja</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>Start a New Game</h2>
        <%= render 'create', game: @game %>
    </div>
    <div class="col-sm-6">
        <h2>Join an Existing Game</h2>
        <%= render 'join', game: @game %>
    </div>
</div>