<% provide(:title, "Keyboard Ninja") %>
<div class="center jumbotron">
  <h1>Race against your friends!</h1>

  <h2>
    Do you have what it takes to bask in glory? Do you want to give your opponents the bitter taste of defeat?
    Challenge your friends to a quick typing race and prove to them that you have the fastest ten.
  </h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <%= render 'create', game: @game %>
    </div>
    <div class="col-sm-6">
        <%= render 'join', game: @game %>
    </div>
</div>