<p id="type-test" data-time="<%= @game.timeSinceCreate%>"><%= @game[:wordsArray].join(' ') %></p>
<div class="form-group">
    <label for="inputlg">Your Answer:</label>
    <input class="form-control input-lg" type="text" id="typed">
</div>
<br><br>
<h1 id="timerText">Game starts in</h1>
<h1 id="timer"></h1>