<footer class="footer">
  <small>
    <a href="https://keyboardninja.herokuapp.com">KeyboardNinja </a>
    by Shikher Verma and Aditya Gajbhiye. 
    Find source on <a href="https://github.com/adigajbhiye/Keyboardninja">Github</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path%></li>
    </ul>
  </nav>
</footer>